.schedule{
  max-width: 1225px;
  margin: auto;
  margin-bottom: 140px;
}
.schedule__title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.17;
  margin: 0;
  margin-bottom: 50px;
}

.schedule__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}

.schedule__points {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.007em;
  line-height: 1.33;
  max-width: 385px;
  margin-right: 35px;
}

.schedule__points:last-child{
  margin-right: 0px;
}

.schedule__span{
  font-size: 40px;
}

.schedule__span_one{
  color: #F89567;
}

.schedule__span_two {
  color: #FADC8E;
}

.schedule__span_three {
  color: #A5DE83;
}

@media screen and (max-width: 460px) {
  .schedule{
    max-width: 345px;
    /* margin: auto;
    margin-bottom: 140px; */
  }
  .schedule__title {
    font-size: 28px;
    margin-bottom: 25px;
    /* font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.17;
    margin: 0;
    margin-bottom: 50px; */
  }

  .schedule__list {
    /* display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    padding: 0; */
    justify-content: center;
  }

  .schedule__points {
    font-size: 20px;
    margin-right: 0px;
    margin-bottom: 30px;

    /* text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.007em;
    line-height: 1.33;
    max-width: 385px;
    margin-right: 35px; */
  }

  .schedule__points:last-child{
    /* margin-right: 0px; */
  }

  .schedule__span{
    font-size: 40px;
  }
}