.teachers__card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 385px;
  height: 560px;
  align-items: center;
  background-color: #D9D9D9;
  row-gap: 15px;
  border-radius: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.teachers__image {
  margin-top: 40px;
  object-fit: contain;
  width: 305px;
  height: 250px;
  border-radius: 15px;
}

.teacher__title {
  font-family: 'YS Display';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  max-width: 305px;
  margin: 0;
}

.teacher__subtitle {
  position: relative;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  max-width: 305px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  height: 135px;
  margin-bottom: 40px;
}