.teachers__card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 385px;
  height: 680px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  row-gap: 15px;
  border-radius: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.teachers__wrapper {
  position: relative;
}

.teachers__desc {
  display: block;
  position: absolute;
  left: 15px;
  bottom: 15px;
  z-index: 5;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #fff;
  margin: 0;
  transition: all .3s ease;
}

.teachers__text-wrapper {
  background: linear-gradient(180deg, rgba(231, 227, 220, 0) 0%, #AFABA3 100%);
}

.teachers__quote {
  display: block;
  position: absolute;
  left: 15px;
  bottom: 61px;
  font-family: 'YS Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  color: #fff;
  z-index: 7;
  margin: 0;
  transition: all .3s ease;
}

.hidden {
  display: none;
}

.teachers__image {
  margin: 0;
  object-fit: cover;
  width: 385px;
  height: 385px;
  border-radius: 15px 15px 0px 0px;
}

.teacher__title {
  font-family: 'YS Display';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  max-width: 335px;
  margin: 0;
}

.teacher__subtitle {
  position: relative;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  max-width: 335px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  height: 90px;
}

.teachers__link {
  align-self: flex-start;
  margin: 10px 0 34px 25px;
  text-decoration: none;
  color: #5686E3;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
}

@media screen and (max-width: 460px) {
  .teachers__card {
    width: 320px;
  }
  .teachers__quote {
    font-size: 24px;
    line-height: 125%;
    max-width: 100%;
  }
  .teachers__image {
    width: 320px;
    bottom: 56;
  }
  .teachers__desc {
    width: 80%;
    font-size: 16px;
    line-height: 20px;
    bottom: 16px;
    margin-left: 15px;
  }
  .teacher__title {
    align-self: flex-start;
    margin-left: 15px;
    max-width: 291px;
    font-size: 18px;
    line-height: 140%;
  }
  .teachers__link {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 18px;
    line-height: 125%;
  }
  .teacher__subtitle {
    margin: 0 0 0 15px;
    font-size: 16px;
    line-height: 20px;
    max-width: 291px;
    max-height: 80px;
  }
}