.teachers__card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 385px;
  height: 680px;
  align-items: center;
  background-color: #D9D9D9;
  row-gap: 15px;
  border-radius: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.teachers__wrapper {
  position: relative;
}

.teachers__desc {
  display: block;
  position: absolute;
  left: 15px;
  bottom: 15px;
  z-index: 5;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #fff;
  margin: 0;
  transition: all .3s ease;
}

.teachers__text-wrapper {
  background: linear-gradient(180deg, rgba(231, 227, 220, 0) 0%, #AFABA3 100%);
}

.teachers__quote {
  display: block;
  position: absolute;
  left: 15px;
  bottom: 61px;
  font-family: 'YS Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  color: #fff;
  z-index: 7;
  margin: 0;
  transition: all .3s ease;
}

.hidden {
  display: none;
}

.teachers__image {
  margin: 0;
  object-fit: cover;
  width: 385px;
  height: 385px;
  border-radius: 15px 15px 0px 0px;
}

.teacher__title {
  font-family: 'YS Display';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  max-width: 305px;
  margin: 0;
}

.teacher__subtitle {
  position: relative;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  max-width: 305px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  height: 90px;
  margin-bottom: 40px;
}