.roles {
   min-height: 655px;
   padding: 0 317px 154px 128px;
   margin: 0 auto;
}

.roles__title {
   padding-bottom: 56px;
   margin: 0;
   color: #000000;
   font-size: 36px;
   font-weight: 400;
}

.roles__grid {
   display: grid;
   justify-content: start;
   margin: 0;
   padding: 0;
   grid-template-columns: 1fr 1fr;
   gap: 20px 38px;
}

.roles__subtitle {
   max-width: 489px;
   min-height: 108px;
   margin: 0;
   padding: 29px 93px 32px 31px;
   font-family: YS Text;
   font-size: 24px;
   font-weight: 400;
   border-radius: 15px;
   list-style-type: none;
   background-color: #D9D9D9;
}

.roles__text {
   margin: 0;
   padding: 15px 0 0;
   font-size: 16px;
   font-weight: 400;
   border-radius: 15px;
   background-color: #D9D9D9;
}