.teachers {
  display: flex;
  justify-content: center;
}

.teachers__inner {
  max-width: 1225px;
  padding-bottom: 82px;
  margin: 0;
}

.teachers__container {
  margin: 0;
  padding: 0;
  width: 10000px;
  display: flex;
  column-gap: 35px;
  transition: all .3s ease;
}

.teachers__header-wrapper {
  display: flex;
  justify-content: space-between;
}

.teachers__btns {
  display: flex;
  column-gap: 40px;
}

.teachers__btn {
  border: 1px solid #000;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: transparent;
}

.teachers__btn:hover {
  cursor: pointer;
}

.teachers__btn-right {
  background-image: url('./images/chevron-right.png');
  background-repeat: no-repeat;
  background-position: center;
}

.teachers__btn-left {
  background-image: url('./images/chevron-left.png');
  background-repeat: no-repeat;
  background-position: center;
}

.teachers__header-title {
  font-family: 'YS Display';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  max-width: 371px;
  margin: 0 0 12px 0;
}

.teachers__header-subtitle {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  max-width: 387px;
  margin: 0 0 50px 0;
}

.overflowed {
  width: 100%;
}

@media screen and (max-width: 460px) {
  .teachers__inner {
    margin-left: 15px;
    max-width: 375px;
    padding-bottom: 50px;
  }
  .overflowed {
    overflow: auto;
  }
  .teachers__container {
    max-width: 2840px;
  }
  .teachers__btns {
    display: none;
  }
  .teachers__header-wrapper {
    flex-direction: column;
  }
  .teachers__header-title {
    max-width: 260px;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 15px;
  }
  .teachers__header-subtitle {
    font-size: 16px;
    line-height: 19px;
    max-width: 260px;
    margin-bottom: 25px;
  }
}