.vacancie {
   display: flex;
   flex-direction: column;
   width: 376px;
   min-height: 385px;
   padding: 0;
   margin: 0 auto;
   border-radius: 15px;
   background-color: #FFFFFF;
   box-shadow: 15px 15px 20px 0px rgba(143, 157, 167, 0.05),
      15px -15px 20px 0px rgba(143, 157, 167, 0.05),
      -15px -15px 20px 0px rgba(143, 157, 167, 0.05),
      -15px 15px 20px 0px rgba(143, 157, 167, 0.05);
}

@media screen and (max-width: 1000px) {
   .vacancie {
      width: 347px;
      min-height: 267px;
      box-shadow: none;
   }
}

.vacancie__container {
   padding: 30px 0 30px 35px;
   min-height: 224px;
   display: flex;
   flex-direction: column;
   row-gap: 20px;
}

@media screen and (max-width: 1000px) {
   .vacancie__container {
      min-height: 125px;
      padding: 25px 25px 27px;
   }
}

.vacancie__title {
   padding: 0;
   margin: 0;
   color: #000000;
   font-family: YS Text;
   font-size: 36px;
   line-height: 42.19px;
   font-weight: 400;
}

@media screen and (max-width: 1000px) {
   .vacancie__title {
      font-size: 24px;
      line-height: 30px;
   }
}

.vacancie__text {
   padding: 0;
   margin: 0;
   color: #000000;
   font-size: 24px;
   line-height: 30px;
   font-weight: 500;
}

@media screen and (max-width: 1000px) {
   .vacancie__text {
      font-size: 20px;
      line-height: 25px;
      font-weight: 400;
   }
}

.vacancie__button {
   justify-self: center;
   text-align: center;
   background-color: #262626;
   color: #FFFFFF;
   border-radius: 14px;
   border: 0;
   margin: 0 auto 35px;
   padding: 17px 0;
   width: 315px;
   font-size: 16px;
   cursor: pointer;
   text-decoration: none;
   transition: 0.6s;
}

@media screen and (max-width: 1000px) {
   .vacancie__text {
      width: 285px;
      font-size: 16px;
      line-height: 20px;
   }
}

.vacancie__button:hover {
   background-color: #5686E3;
}

.vacancie__button:active {
   background-color: #1C4BA8;
}