.faculties {
   min-height: 939px;
   padding: 0 110px 154px;
   margin: 0 auto;
}

.faculties__title {
   padding-bottom: 36px;
   margin: 0;
   color: #000000;
   font-size: 36px;
   font-weight: 400;
}

.faculties__grid {
   display: grid;
   margin: 0;
   padding: 0;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 41px 35px;
}

.faculties__profession-front {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   text-align: center;
   max-width: 385px;
   min-height: 410px;
   margin: 0;
   padding: 30px 25px;
   font-size: 36px;
   font-weight: 400;
   border-radius: 15px;
   list-style-type: none;
   background-color: #E7E3DC;
   cursor: pointer;
}

.faculties__profession-front_hidden {
   display: none;
}

.faculties__button-front {
   background-image: url('./images/facultiesIco.svg');
   background-color: transparent;
   border: 0;
   margin: 0;
   padding: 0;
   width: 36px;
   height: 30px;
   position: absolute;
   bottom: 25px;
   right: 38px;
   cursor: pointer;
}

.faculties__image {
   margin: 0;
   padding: 22px 0 0;
}

.faculties__profession-back {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   row-gap: 30px;
   max-width: 329px;
   min-height: 410px;
   margin: 0;
   padding: 30px 35px;
   font-size: 18px;
   font-weight: 400;
   line-height: 22.5px;
   border-radius: 15px;
   list-style-type: none;
   background-color: #E7E3DC;
}

.faculties__profession-back_hidden {
   display: none;
}

.faculties__button-back {
   text-align: center;
   background-color: #262626;
   color: #FFFFFF;
   border-radius: 14px;
   border: 0;
   margin: 0;
   padding: 20px 82px;
   font-size: 16px;
   cursor: pointer;
}

.faculties__button-close {
   position: absolute;
   background-image: url('./images/x.svg');
   background-color: transparent;
   border: 0;
   margin: 0;
   padding: 0;
   width: 30px;
   height: 30px;
   top: 15px;
   right: 15px;
   cursor: pointer;
}