.page {
   max-width: 1440px;
   margin: 0 auto;
   padding: 0;
   font-family: 'Arial', 'Helvetica', sans-serif;
   background-color: #ffffff;
   font-weight: 400;
}

.button {
  background-color: #262626;
  color: white;
  min-width: 280px;
  min-height: 60px;
  border-radius: 14px;
  border: none;
}
