.request {
  margin: auto;
  margin-bottom: 125px;
  max-width: 1225px;
}

.request__title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.18;
  margin: 0;
  margin-bottom: 20px;
}

.request__text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 1.17;
}

.request__button {
  min-width: 315px;
  min-height: 60px;
  padding: 0;
  border-radius: 14px;
  border: none;
  background-color: #262626;
  color: white;
  grid-area: c;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.25px;
}
