.request {
  margin: auto;
  margin-bottom: 100px;
  max-width: 1225px;
}

.request__title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.18;
  margin: 0;
  margin-bottom: 13px;
}

.request__text {
  margin: 0;
  margin-bottom: 35px;
}

.request__input, .request__select-input {
  min-width: 280px;
  min-height: 60px;
  border: 2px solid #E0E0E0;
  border-radius: 14px;
}

