.vacancies {
  padding: 0 108px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media screen and (max-width: 1000px) {
  .vacancies {
    padding: 0 15px;
    margin: 0 auto;
  }
}

.vacancies__title {
  padding-bottom: 0;
  margin: 0 0 50px;
  color: #000000;
  font-size: 40px;
  line-height: 46.88px;
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  .vacancies__title {
    font-family: YS Text;
    font-size: 28px;
    line-height: 32.82px;
    margin: 0 0 25px;
  }
}

.vacancies__container {
  display: flex;
  column-gap: 36px;
  padding: 0;
  margin-bottom: 35px;
}

@media screen and (max-width: 1000px) {
  .vacancies__container {
    column-gap: 15px;
    margin-bottom: 15px;
  }
}

.vacancies__container_s {
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  margin: 0 auto 35px;
}

@media screen and (max-width: 1000px) {
  .vacancies__container_s {
    column-gap: 10px;
    margin-bottom: 20px;
  }
}

.vacancies__button {
  text-align: center;
  color: #000000;
  border: none;
  margin: 0;
  padding: 17px 0;
  width: 201px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  padding: 0;
  color: #979797;
  border-bottom: 1px dashed #979797;
}

@media screen and (max-width: 1000px) {
  .vacancies__button {
    width: 112px;
    font-size: 20px;
    line-height: 25px;
  }
}

.vacancies__button:last-child {
  max-width: 172px;
}

.vacancies__button_s {
  text-align: center;
  color: #000000;
  background-color: transparent;
  width: 230px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 16px 0;
  cursor: pointer;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
}

@media screen and (max-width: 1000px) {
  .vacancies__button_s {
    width: 161px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 12px;
  }
}

.vacancies__button_s:hover {
  opacity: 0.6;
}

.vacancies__button_s_active {
  border: 2px solid #000000;
}

.vacancies__button_active {
  color: #5686E3;
  border-bottom: none;
}

.vacancies__button:hover {
  color: #000000;
  border-bottom: 1px solid #000000;
}

.vacancies__grid {
  display: grid;
  margin: 0 0 35px;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
}

.vacancies__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vacancies__more-button {
  margin: 0 auto 125px;
  padding: 18px 0;
  text-align: center;
  background-color: transparent;
  color: #000000;
  width: 320px;
  border-radius: 15px;
  border: solid 1px #000000;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.vacancies__more-button:hover {
  box-shadow: 0px 5px 4px 0px #2C3D4926;
  transition: 0.6s ease;
}

.vacancies__more-button:active {
  color: #FFFFFF;
  background-color: #000000;
  transition: 0.6s ease;
}