.expert {
  padding-bottom: 125px;
  padding-left: 108px;
  padding-right: 108px;
}

.expert__intro {
  margin-bottom: 50px;
  display: flex;
}

.expert__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.17;
  padding-top: 30px;
  padding-right: 10px;
}

.expert__cross {
  width: 40px;
  height: 40px;
}

.expert__puzzle {
  display: flex;
  width: 100%;
}

.puzzle {
  display: flex;
  height: 173px;
  background-size: contain;
  background-position: center;
}

.puzzle_one {
  width: 34%;
  height: calc(0,41 * width);
  background-image: url(./images/puzzle-one.png);
  background-repeat: no-repeat;
}

.puzzle_two {
  width: 34%;
  background-image: url(./images/puzzle-two.png);
  background-repeat: no-repeat;


}

.puzzle_three {
  width: 32%;
  background-image: url(./images/puzzle-three.png);
  background-repeat: no-repeat;

}

.expert__span {
  margin-top: 10px;
  margin-left: 20px;
  font-style: normal;
  font-size: 18px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.7);
}

.puzzle-text {
  margin: 0 auto;
  align-self: center;
  max-width: 280px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

@media screen and (max-width: 460px){
  .expert {
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
  }

  .expert__title {
    font-size: 28px;
    margin: 0;
    margin-bottom: 25px;
  }

  .expert__puzzle {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .puzzle {
    background-repeat: no-repeat;
    background-position: cover;
    width: 100%;
    margin: 0;
  }

  .puzzle_one {
    background-image: url(./images/puzzle-one-mob.png);
    height: 190px;
    margin: auto;
    width: 100%;
  }

  .puzzle_two {
    margin: 0;
    background-image: url(./images/puzzle-two-mob.png);
    height: 190px;
    margin: auto;
    width: 100%;
  }

  .puzzle_three {
    margin: 0;
    background-image: url(./images/puzzle-three-mob.png);
    height: 150px;
    width: 101%;
  }

  .puzzle-text {
    margin: 0;
    text-align: center;
    font-size: 16px;
  }

  .puzzle-text_one {
    padding-bottom: 40px;
  }
}